# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build output
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager local state
.build/
.swiftpm/

# Logs
*.log
